.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 24px;
}

.landing-page-card {
  width: 300px;
  display: flex;
  flex-direction: column;

  img {
    object-fit: cover;
    height: 200px;
  }
}
